@use "../abstracts/variables";
@use "../abstracts/mixins";
// ----------------------------------
// Colour mode elements
// ----------------------------------
.colour-mode-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-colour);
  border-radius: 20px;
  padding: 2px 5px;
  // box-shadow: 0px -1px 6px var(--text-colour);

  .colour-mode-btn.is-active {
    .colour-mode-wrapper  {
      box-shadow: 1px -1px 6px var(--text-colour);
    }
  }

  .colour-mode-btn {
    display: block;
    line-height: 0;
    // transition effect
    position: relative;
    top: -100%;
    opacity: 0;
    visibility: hidden;
    transition: all variables.$transition;
    pointer-events: none; // To target only the button element in the event listener

    &.is-active {
      opacity: 1;
      visibility: visible;
      pointer-events: all; // To target only the button element in the event listener
      top: 0;
    }

    &:focus-visible {
      @include mixins.focus-styles;
    }

    .light-mode-icon,
    .dark-mode-icon {
      width: 20px;
      height: 20px;
      pointer-events: none; // To target only the button element in the event listener
    }
  }

  p {
    font-size: 0.75rem;
    pointer-events: none; // To target only the button element in the event listener
  }
}

.colour-mode-btn {
  &:hover {
    img {
      filter: opacity(variables.$opacity);
    }
  }
  &:active {
    img {
      transform: scale(1.2);
    }
  }
}

// ---------- Media queries --------
// ---------------------------------
@media (width <= 800px) {
  .colour-mode-wrapper p {
    display: none;
  }
  .light-mode-icon,
  .dark-mode-icon {
    width: 27px;
    height: 27px;
  }
}
