@use "../abstracts/variables";
@use "../abstracts/mixins";

/* --- hamburger menu --- */
.hamburger,
.mobile-nav {
  display: none;
}

@media (width <= 800px) {
  .hamburger {
    display: block;
    position: relative;
    width: 1.625rem;
    cursor: pointer;
    outline: none;
    border: none;
    &:focus-visible {
      @include mixins.focus-styles;
    }
  }

  .hamburger-bar,
  .hamburger::after,
  .hamburger::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    margin: 6px 0;
    background-color: var(--text-colour);
    transition: variables.$transition;
  }

  .hamburger.is-active::after,
  .hamburger.is-active::before {
    background-color: var(--text-colour);
  }

  .hamburger.is-active .hamburger-bar {
    opacity: 0;
  }
  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-5px, -5px);
  }

  .mobile-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 8rem;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-colour);
    padding-top: 150px;
    z-index: 999;
    transition: variables.$transition;
  }

  .mobile-nav.is-active {
    left: 0;
  }

  .page-link-wrapper {
    flex-direction: column;
  }
}

// to not being able to scroll while mobile nav is displaying
.no-scroll {
  overflow: hidden;
}
