@use "../abstracts/variables";
@use "../base/reset";

.primary-btn {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: variables.$main-border;
  padding: 12px 24px;
  font-size: 1.125rem;
  font-weight: 600;

  img {
    height: 1.25rem;
    width: 1.25rem;
  }

  &:hover,
  :active {
    transition: all variables.$transition;
    color: variables.$primary-colour;
    img {
      filter: invert(1);
    }
  }
}

// Button hover effect
.primary-btn::before {
  content: "";
  position: absolute;
  background-color: variables.$secondary-colour;
  color: variables.$primary-colour;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  transition: height variables.$transition,
    opacity variables.$transition;
  z-index: -1;

  opacity: 0;
}

.primary-btn:hover::before {
  height: 100%;
  opacity: 1;
}

// button active effect
.primary-btn:active {
  border: 1px solid variables.$main-text-colour;
  color: variables.$main-text-colour;

  img {
    filter: invert(0);
  }
}

.primary-btn:active::before {
  // removes the hover effect
  width: 100%;
  opacity: 0;
}

@media (width <= 600px) {
  .primary-btn {
    padding: 10px 20px;
    font-size: 1rem;
  }
}
