@use "../abstracts/variables";
// ----------------------------------
// Universal section styling
// ----------------------------------
.section {
  max-width: variables.$max-width;
  margin: 0 auto;
  padding: 4rem 1rem;
}

// Used inside .section-wrapper for changing the background colour of the sections.
.primary-colour {
  background-color: variables.$main-bg-colour;
}
.asset-colour {
  background-color: variables.$sub-bg-colour;
}

// Spacing used in the sections
.spacing-4 {
  margin: 4rem 0 0 0;
}

.section-heading {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  position: relative;
}

.heading-underline {
  display: inline-block;
  border-bottom: variables.$main-border;
  width: 50%;
  margin-top: 0.5rem;
}
