@use "../abstracts/variables";

// ----------------------------------
// Base element styling
// ----------------------------------
html {
  scroll-behavior: smooth;
}

header {
  background-color: variables.$main-bg-colour;
}

footer {
  background-color: variables.$accent-colour;
}
