@use "../abstracts/fonts";
@use "../abstracts/variables";

// Default font colour
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
a,
p,
b,
small,
button,
span,
figcaption,
time {
  color: var(--text-colour);
  line-height: 125%;
}

// Default font styling for headlines
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.125rem;
}

// Default font styling for lists, links, paragraphs, buttons and spans
ol,
ul,
a,
p,
b,
button,
span,
figcaption,
time {
  font:
    400 1.125rem/125% "Karla",
    sans-serif;
  letter-spacing: 1px;
}

p,
b,
figcaption {
  // font-weight: 300;
}

small {
  font-family: "Karla", sans-serif;
}

time {
  font-size: 1rem;
}

@media (width <= 900px) {
  ol,
  ul,
  a,
  p,
  b,
  button,
  span,
  figcaption,
  time {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.125rem;
  }
  h3 {
    font-size: 1rem;
  }
}
