@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Geist:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  /* Typography */
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
  /* Font size */
  --text-hero: clamp(3.5rem, 2.75rem + 3vw, 5rem);
  --text-h1: clamp(2.25rem, 6vw, 4.5rem);
  --text-h2: 1.875rem;
  --text-h3: 1.25rem;

  /* Layout */
  --container-layout: 90rem;

  /* Light theme */
  --color-canvas: #ede5d8;
  --color-surface: #f5eee2;
  --color-subtle: #e2d8c8;
  --color-text: #1c1008;
  --color-accent: #6e2510;
  --color-warm: #5a6320;
  --color-border: #c9bbaa;
  --color-border-strong: #aba79b;
}

html.dark {
  --color-canvas: #111116;
  --color-surface: #18181f;
  --color-subtle: #22222c;
  --color-text: #eeeef2;
  --color-accent: #22d3ee;
  --color-warm: #f97316;
  --color-border: #30303f;
  --color-border-strong: #686767;
}
