@use "../abstracts/variables";

// ----------------------------------
// About section styling
// ----------------------------------
.about-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.full-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: variables.$max-characters-width;
}

.secondary-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 20vw;
  min-width: 250px;
  color: variables.$main-text-colour; // added to override the default colour to pass the contrast ratio test

  figcaption {
    font-size: 1rem;
    color: variables.$light-grey-colour;
  }
}
