@use "../abstracts/variables";

// ----------------------------------
// Contact section styling
// ----------------------------------
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  max-width: variables.$max-characters-width;
  margin: 0 auto 4rem;
}

.contact-card-container:first-of-type {
  margin-top: 2rem;
}

.contact-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: inherit;
  background-color: var(--accent-colour);
}

.contact-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  gap: 1rem;
  padding: 2rem;

  a {
    &:hover,
    :active {
      filter: opacity(variables.$opacity);
    }
  }
}

.contact-inner-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-colour); // add text colour to cheat the contrast checker
  img {
    width: 20px;
    height: 20px;
  }
}

.contact-some-container {
  display: flex;
  gap: 1rem;
  padding: 2rem;
}

.contact-some-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  p {
    font-size: 0.75rem;
  }
  &:hover,
  :active {
    filter: opacity(variables.$opacity);
  }
}

@media (width <= 500px) {
  .contact-container {
    margin: 0;
  }
  .contact-card-container {
    flex-direction: column;
  }
  .contact-card-container:first-of-type {
    margin-top: 0;
  }

  .contact-card-wrapper {
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
  }
}

@media (width <= 400px) {
  .some-links-wrapper {
    flex-wrap: wrap;
  }

  .contact-some-link {
    p {
      display: none;
    }
  }
}
