@use "../abstracts/variables";

// ----------------------------------
// Experience section styling
// ----------------------------------
// --- Key qualifications ---
.qualification-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;

  h2 {
    margin: 0 0 1rem 0;
  }
}

.qualification-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  background-color: variables.$main-bg-colour;
  padding: 2rem 2rem 0;
}

.qualification-wrapper:last-child {
  padding: 2rem;
}

.qualification-articles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: variables.$max-characters-width;

  ul {
    list-style: disc;
    padding-left: 2rem;

    li {
      font-size: 1rem;
    }
  }
}

// --- Work experience and education ---
// ----------------------------------------
.experience-outer-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
}

.left,
.right {
  flex: 1;
}

.right {
  h2 {
    text-align: right;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-line {
  width: 1px;
  height: 90%;
  background-color: variables.$secondary-colour;
  filter: opacity(variables.$opacity);
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: variables.$main-bg-colour;
  margin-top: 2rem; // space the headlines from the top

  p:last-of-type {
    font-style: italic;
  }
  ul {
    list-style: disc;
    padding-left: 2rem;
    font-weight: 300;
    li {
      font-size: 1rem;
      a {
        font-size: 1rem;
      }
    }
  }
}

.card-container:first-of-type {
  margin-top: 1rem;
}

.optional-heading {
  margin: 2rem 0 -1rem 0;
}

#interests {
  font-style: normal;
  font-size: 1rem;
}

.experience-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;

  p {
    font-size: 1rem;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
