@use "../abstracts/variables";

// ----------------------------------
// header / nav bar
// ----------------------------------
.landing-section {
  background-color: variables.$main-bg-colour;
}

.outer-header-container {
  height: 100vh;
  width: 100%;
  max-width: variables.$max-width;
  margin: 0 auto;
  padding: 0 1rem;
  background: no-repeat url("../assets/images/profile1.webp") 100% center / 60% auto;
  background-color: variables.$main-bg-colour;
  background-blend-mode: luminosity;
  overflow: hidden;
  // Ensures the content is on top of the background image
  position: relative;
  z-index: 1;
}

.header-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  position: relative; // to display header nav bar on top of the mobile nav.
  z-index: 100; // to display header nav bar on top of the mobile nav.
}

.logo-container {
  // Add white colour to the logo to cheat the contrast ratio
  color: variables.$main-text-colour;
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-link-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-link {
  position: relative;
  padding: 5px 0.5rem;
}

.main-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: variables.$secondary-colour;
  transition: width variables.$transition;
}

.main-link:hover::before {
  width: 100%;
}

.main-link:active::before {
  background-color: variables.$main-text-colour;
}

.page-link-wrapper a {
  font-size: 1.25rem;
}

.some-links-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    display: block;
    height: 20px;
    width: 20px;
  }
}

.some-link:hover,
.some-link:active {
  filter: opacity(variables.$opacity);
}

.colour-mode-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  p {
    font-size: 0.75rem;
  }
}

.light-mode-btn:hover,
.light-mode-btn:hover {
  filter: opacity(variables.$opacity);
}

// ----------------------------------
// Media query < 900px
// ----------------------------------
@media (width <= 1000px) {
  .header-bar-container nav:last-of-type {
    display: none;
  }
}

@media (width <= 850px) {
  .header-bar-container nav {
    display: none;
  }

  .mobile-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: variables.$main-bg-colour;
    padding-top: 137px;
    z-index: 98;
    transition: variables.$transition;
  }

  .mobile-nav.is-active {
    left: 0;
  }
}
