@use "../abstracts/variables";

// ----------------------------------
// Content on landing section
// ----------------------------------
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 2rem;
  max-width: 90ch;
  position: relative;
  top: 50%;
  transform: translate(0, -70%);
}

.name-container {
  display: flex;
  align-items: center;
  justify-self: center;
  color: variables.$main-text-colour; // to cheat the contrast checker for the logo div
  margin: 0 0 0.5rem 0;

  h1 {
    font-size: 3rem;
    display: inline-flex;
    align-items: baseline;
    line-height: 0;
  }

  img {
    display: inline-block;
    position: relative;
    bottom: -10px;
    width: 5rem;
    height: auto;
    margin-right: -22px;
  }

  .intro-text {
    font-size: 1.5rem;
  }
}

.intro-btn-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2rem;
}

.btn-down-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    font-weight: 600;
  }
}

// Button hover and active effect
.btn-down:hover,
.btn-down:active {
  filter: opacity(variables.$opacity);
  transition: all variables.$transition;
}

// ----------------------------------
// Media query on landing section
// ----------------------------------
@media (width <= 1120px) {
  .intro-container {
    .name-container {
      padding: 1rem 0 0 0;
      flex-direction: column;

      .name-text {
        transform: translate(-48%, 10%);
      }
    }

    .intro-text {
      font-size: 1.175rem;
      max-width: 50ch;
    }
  }
}
