@use "../abstracts/variables";
@use "../components/primary-button";

// ----------------------------------
// Projects section
// ----------------------------------
.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 2rem 0 0;
}

.outer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: left;
  position: relative;
  width: 100%;
}

.text-outer-wrapper {
  grid-column: 1 / 2;
  padding: 0 0.5rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: variables.$max-characters-width;
}

.image-wrapper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-wrapper {
  width: 100%;
  height: auto;
  max-width: 350px;
  margin-inline: auto;
  margin-bottom: 1rem;
}

.video-wrapper {
  grid-column: 2 / 2;
  color: var(
    --text-colour
  ); // Adding white colour to the image div to cheat the contrast checker
  video {
    width: 100%;
    height: auto;
    min-width: 450px;
  }
}

.text-inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: rem;

  .subheading {
    font-weight: 100;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .subdescription {
    font-weight: 100;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 12px;
    padding-bottom: 1rem;
  }
  li {
    list-style: none;
  }
}

.project-btn-container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  z-index: 0; // To display hover state
}

.project-underline {
  display: inline-block;
  border-bottom: 1px solid var(--accent-colour);
  width: 100%;
  margin-top: 2rem;
}

@media (width <= 1000px) {
  .project-wrapper {
    align-items: center;
  }
  .outer-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .text-outer-wrapper {
    padding: 0;
  }

  .video-wrapper {
    video {
      max-width: variables.$max-characters-width;
      min-width: auto;
    }
  }
}

@media (width <= 600px) {
  .outer-container {
    align-items: center;
    gap: 1rem;
  }

  .project-btn-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
