@use "../abstracts/variables";

// ----------------------------------
// Skills section styling
// ----------------------------------

// animation for the skill slider
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.skills-container {
  overflow: hidden;
  white-space: nowrap; // Prevents the slider from wrapping
  position: relative;
}

// Creates a fade in/out style on the left and right side of the slider
.skills-container::before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to right, rgba(54, 61, 72, 1), rgba(54, 61, 72, 0));
}
// Creates a fade in/out style on the left and right side of the slider
.skills-container::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(to left, rgba(54, 61, 72, 1), rgba(54, 61, 72, 0));
}

.skill-slider {
  animation: slide 20s infinite linear;
  display: inline-flex;
}

.skill-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 135px;
  height: 135px;
  background: variables.$main-bg-colour;
  border-radius: variables.$border-radius;
  margin: 0 2rem;
  color: variables.$main-text-colour; // Adding white text colour to cheat the contrast checker

  img {
    height: 50px;
    width: 50px;
  }
}

// Pauses the animation when the user hovers over the skills container
.skills-container:hover {
  .skill-slider {
    animation-play-state: paused;
  }
}
