@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "Unbounded";
    src: url(../assets/fonts/Unbounded/static/Unbounded-Regular.ttf) format("truetype");
    font-weight: 400; /* Regular weight */
    font-display: swap; /* Ensure font swap is applied */
  }
  @font-face {
    font-family: "Unbounded";
    src: url(../assets/fonts/Unbounded/static/Unbounded-Bold.ttf) format("truetype");
    font-weight: 700; /* Bold weight */
    font-display: swap;
  }
  @font-face {
    font-family: "Karla";
    src: url(../assets/fonts/Karla/static/Karla-Regular.ttf) format("truetype");
    font-weight: 400; /* Regular weight */
    font-display: swap;
  }
  @font-face {
    font-family: "Karla";
    src: url(../assets/fonts/Karla/static/Karla-Regular.ttf) format("truetype");
    font-weight: 700; /* Bold weight */
    font-display: swap;
  }
}
@font-face {
  font-family: "Unbounded";
  src: url(../assets/fonts/Unbounded/Unbounded-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 1000; /* Weight range for variable font */
  font-stretch: 25% 151%; /* Stretch range if applicable */
  font-display: swap;
}
@font-face {
  font-family: "Karla";
  src: url(../assets/fonts/Karla/Karla-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 1000; /* Weight range for variable font */
  font-stretch: 25% 151%; /* Stretch range if applicable */
  font-display: swap;
}
@font-face {
  font-family: "Karla";
  src: url(../assets/fonts/Karla/Karla-Italic-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 1000; /* Weight range for variable font */
  font-stretch: 25% 151%; /* Stretch range if applicable */
  font-style: italic; /* Italic style */
  font-display: swap;
}
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
a,
p,
b,
small,
button,
span,
figcaption,
time {
  color: #f0e9f2;
  line-height: 125%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

ol,
ul,
a,
p,
b,
button,
span,
figcaption,
time {
  font: 400 1.125rem/125% "Karla", sans-serif;
  color: #f0e9f2;
  letter-spacing: 1px;
}

p,
b,
figcaption {
  font-weight: 300;
}

small {
  font-family: "Karla", sans-serif;
}

time {
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

footer {
  background-color: #363d48;
}

.primary-btn {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #f22c50;
  padding: 12px 24px;
  font-size: 1.125rem;
}
.primary-btn img {
  height: 1.25rem;
  width: 1.25rem;
}

.primary-btn:hover,
.primary-btn:active {
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}

.section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.primary-colour {
  background-color: #22252c;
}

.asset-colour {
  background-color: #363d48;
}

.spacing-4 {
  margin: 4rem 0 0 0;
}

.section-heading {
  display: flex;
  flex-direction: column;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.heading-underline {
  display: inline-block;
  border-bottom: 1px solid #f22c50;
  width: 50%;
  margin-top: 0.5rem;
}

.landing-section {
  background-color: #22252c;
}

.outer-header-container {
  height: 100vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
  background: no-repeat url("../assets/images/profile1.webp") 100% center/60% auto;
  background-color: #22252c;
  background-blend-mode: luminosity;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.header-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo-container {
  color: #f0e9f2;
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-link-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-link {
  position: relative;
  padding: 5px 0.5rem;
}

.main-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #f22c50;
  transition: width 0.3s ease-in-out;
}

.main-link:hover::before {
  width: 100%;
}

.main-link:active::before {
  background-color: #f0e9f2;
}

.page-link-wrapper a {
  font-size: 1.25rem;
}

.some-links-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.some-links-wrapper img {
  display: block;
  height: 20px;
  width: 20px;
}

.some-link:hover,
.some-link:active {
  filter: opacity(0.7);
}

.colour-mode-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.colour-mode-wrapper p {
  font-size: 0.75rem;
}

.light-mode-btn:hover,
.light-mode-btn:hover {
  filter: opacity(0.7);
}

.inner-footer {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 1rem 1rem;
}

.footer-main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.some-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #f0e9f2;
}

.copyright {
  border-top: 1px solid #f0e9f2;
  width: 80vw;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 0 1rem;
  font-style: italic;
  text-align: center;
  font-size: 0.8rem;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 2rem;
  max-width: 90ch;
  position: relative;
  top: 50%;
  transform: translate(0, -70%);
}
.intro-container .name-container {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  position: relative;
  color: white;
}
.intro-container .name-container .name-text {
  font: 400 3rem "Unbounded", sans-serif;
  letter-spacing: 2px;
  line-height: 100%;
  text-transform: uppercase;
  position: absolute;
  left: 35%;
  bottom: 0;
}
.intro-container .intro-text {
  font-size: 1.5rem;
}

.intro-btn-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2rem;
}

.btn-down-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-down-container p {
  font-weight: 600;
}

.btn-down:hover,
.btn-down:active {
  filter: opacity(0.7);
  transition: all 0.3s ease-in-out;
}

@media (width <= 1120px) {
  .intro-container .name-container {
    padding: 1rem 0 0 0;
    flex-direction: column;
  }
  .intro-container .name-container .name-text {
    transform: translate(-48%, 10%);
  }
  .intro-container .intro-text {
    font-size: 1.175rem;
    max-width: 50ch;
  }
}
.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 4rem 0 0;
}

.outer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: left;
}

.text-outer-wrapper {
  grid-column: 1/2;
  padding: 0 0.5rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 500px;
}

.video-wrapper {
  grid-column: 2/2;
  color: #f0e9f2;
}
.video-wrapper video {
  width: 100%;
  height: auto;
  min-width: 450px;
}

.text-inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.text-inner-wrapper button {
  align-self: flex-start;
  color: #f0e9f2;
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
}

.project-btn-container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.project-underline {
  display: inline-block;
  border-bottom: #363d48 1px solid;
  width: 100%;
  margin-top: 4rem;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.skills-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.skills-container::before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to right, rgb(54, 61, 72), rgba(54, 61, 72, 0));
}

.skills-container::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  background: linear-gradient(to left, rgb(54, 61, 72), rgba(54, 61, 72, 0));
}

.skill-slider {
  animation: slide 20s infinite linear;
  display: inline-flex;
}

.skill-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 135px;
  height: 135px;
  background: #22252c;
  border-radius: 5px;
  margin: 0 2rem;
  color: #f0e9f2;
}
.skill-wrapper img {
  height: 50px;
  width: 50px;
}

.skills-container:hover .skill-slider {
  animation-play-state: paused;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.full-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 70ch;
}

.secondary-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 20vw;
  min-width: 250px;
  color: #f0e9f2;
}
.secondary-wrapper figcaption {
  font-size: 1rem;
  color: #c7c3c8;
}

.qualification-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}
.qualification-container h2 {
  margin: 0 0 1rem 0;
}

.qualification-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  background-color: #22252c;
  padding: 2rem 2rem 0;
}

.qualification-wrapper:last-child {
  padding: 2rem;
}

.qualification-articles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 65ch;
}
.qualification-articles ul {
  list-style: disc;
  padding-left: 2rem;
}
.qualification-articles ul li {
  font-size: 1rem;
}

.experience-outer-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
}

.left,
.right {
  flex: 1;
}

.right h2 {
  text-align: right;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-line {
  width: 1px;
  height: 90%;
  background-color: #f22c50;
  opacity: 0.7;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: #22252c;
  margin-top: 2rem;
}
.card-container p:last-of-type {
  font-style: italic;
}
.card-container ul {
  list-style: disc;
  padding-left: 2rem;
  font-weight: 300;
}
.card-container ul li {
  font-size: 1rem;
}
.card-container ul li a {
  font-size: 1rem;
}

.card-container:first-of-type {
  margin-top: 1rem;
}

.optional-heading {
  margin: 2rem 0 -1rem 0;
}

#interests {
  font-style: normal;
  font-size: 1rem;
}

.experience-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
}
.experience-btn-container p {
  font-size: 1rem;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}/*# sourceMappingURL=styles.css.map */